<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Atividades_2.Properties.Settings.DB_AtividadesLabConnectionString"
            connectionString="Data Source=DESKTOP-EHRV87U\SQLEXPRESS;Initial Catalog=DB_AtividadesLab;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>